<!DOCTYPE html>
<html>
  <head>
    <title>EventNotificationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render "partials/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%
=begin%>
 <% if user_signed_in? %>
      <%= current_user.email %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %> 
<%
=end%>
    <%= yield %>
  </body>
</html>
